<div class="page-header">
  <h1 class="text-center">Your Ongoing Projects</h1>
</div>
<% if @projects.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, tenant_project_path(project, tenant_id: @tenant.id), class: 'main-link' %></td>
          <td><%= project.details %></td>
          <td><%= project.deadline %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="lead text-center">You haven't created any projects yet!</p>
<% end %>

<% if (@tenant.can_create_projects?) %>
  <%= link_to 'Add a New Project', new_tenant_project_path(tenant_id: @tenant.id), class: 'btn btn-default btn-block tf-btn color' %>
<% end %>
<br>
<hr>

<% if @tenant.plan == 'free' && @projects.size == 5 %>
  <div class="danger-div">
    <p class="lead text-center">You have reached the maximum number of projects on our free plan. <br> <%= link_to 'Upgrade now', edit_plan_path %> to create an unlimited number of projects.</p>
  </div>
<% end %>

<% if @projects.size > 0 %>

  <%= month_calendar(attribute: :deadline) do |date| %>
    <%= date %>
    <% @projects.each do |project| %>
      <% if date == project.deadline %>
        <div class="project-date"><%= project.title %></div>
      <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
