<!DOCTYPE html>
<html>
<head>
	<title></title>
	<html lang="en">
	<%= render 'layouts/head' %>
</head>
<body>
    <%= render 'layouts/nav' %>
  	<%= render 'layouts/notices' %>
  	<%= yield %>
  	<%= render 'layouts/footer' %>
  	<%= javascript_include_tag 'application' %>
</body>
</html>
